@font-face {
    font-family: 'Rubik Microbe';
    src: url('./fonts/rubikmicrobe.ttf');
}

body {
    font-family: 'Rubik Microbe', ;
}

@media print {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
}

a:focus {
    color: burlywood;
}

div p:nth-child(2) {
    color: navy;
}

div {
    background-color: aquamarine;
}

body>div {
    background-color: yellow;
}